body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-align: center;
}

header {
    background-color: #28a745;
    color: white;
    padding: 15px 0;
}

h1 {
    margin: 0;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.pest-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pest-card img {
    width: 100%;
    object-fit:cover;
    aspect-ratio:3/2;
    
    border-radius: 10px;
}

.pest-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
    margin-top: 20px;
    
    position: absolute;
    top: 100%;
    width: 100%;
}
