{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mango Pests</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Mango Pests</h1>
    </header>
    <nav>
        {% include 'main/nav.html' %}
    </nav>
    <main class="grid-container">
        {% for pest in pests %}
        <div class="pest-card">
            <img src="{% static pest.image %}" alt="{{ pest.name }}">
            <h2>{{ pest.name }}</h2>
            <p><strong>Scientific Name:</strong> <br><i>{{ pest.scientific_name }}<br></i></p>
            <p><strong>Affects:</strong> <br>{{ pest.affects }}<br></p>
          
            <a href="{% url 'pest_detail' pest.key %}">Learn More</a>
        </div>
        {% endfor %} 
    </main> 
</body>
</html>
